---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li
  class:list={[
    "inline-block",
    size === "sm" ? "my-1" : "mx-1 my-3",
  ]}
>
  <a
    href={`/tags/${tag}/`}
    transition:name={tag}
    class:list={[
      "relative pe-2 text-sm text-foreground/70 underline decoration-dotted underline-offset-2 hover:text-accent hover:decoration-solid focus-visible:p-1 focus-visible:no-underline transition-colors duration-200 cursor-pointer",
    ]}
  >
    <IconHash
      class:list={[
        "inline-block opacity-60 hover:opacity-80 transition-opacity duration-200",
        { "-me-2 size-4": size === "sm" },
        { "-me-3 size-6": size === "lg" },
      ]}
    />
    <span>{tagName}</span>
  </a>
</li>
